version: '3'
services:
  api:
    build:
      context: ./ecommerce_api
      dockerfile: Dockerfile
    command: bash -c "python manage.py runserver 0.0.0.0:8000"
    ports:
      - 8000:8000
  frontend:
    build:
      context: ./frontend/my-app
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - api