.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list{
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
.center{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  left:20px;
  justify-content: center;
  padding: 10px;
  position:relative;
  right: 2%;
  text-align: center;
}
.card-buy-button {
  background-color: #333;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-top: 20px;
}
.card-image {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-buy-button:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0px 0px 10px #333;
}
.wrap{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
  
}
.product{
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  margin-left: 10px;


}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
